<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Persian NLP Tools</title>
</head>
<body>
<div align="center">
    <p>
        Tokenizer:
    </p>
    <form action="/ResultToken.html" method="GET">
        <textarea name="TokenText" cols="40" rows="5">Enter your Text here...</textarea>
        <input type="submit" value="Submit">
    </form>
    <p alignment="center">
        Normalizer:
    </p>
    <form action="/ResultNorm.html" method="GET">
        <textarea name="NormText" cols="40" rows="5">Enter your Text here...</textarea>
        <input type="submit" value="Submit">
    </form>

    <p></p>
    </div>
    <div class="well">
    Adel Rahimi<br/>
    Rahimi.adel@mehr.sharif.edu
</div>
</form>
</body>
</html>

