<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tokenizer</title>
</head>
<body>
<div align="center">
    <p>
        tokenizer
    </p>
<form action="/ResultToken.html" method="post">
    <textarea name="TokenText" cols="40" rows="5">Enter your Text here...</textarea>
    <input type="submit" value="Submit">
</form>
    <p alignment="center">
    normalizer:
    </p>
    <form action="/ResultNorm.html" method="post">
    <textarea name="NormText" cols="40" rows="5">Enter your Text here...</textarea>
    <input type="submit" value="Submit">
    </form>
    <p></p>
    Adel Rahimi<br />
    Rahimi.adel@mehr.sharif.edu
    </div>
</form>
</body>
</html>

